[Unit]
Description=Jenkins Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker-compose -f /home/kj/Programs/jenkins/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /home/kj/Programs/jenkins/docker-compose.yml down

[Install]
WantedBy=default.target
